<section class="container mrgT15" id="contactSection">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3>
                Contact
            </h3>
            <div>
                <p>Send the MapRentals.ca team a note, question, suggestion, proposal, or anything else you feel like mentioning. We’ll respond as quickly as possible. We currently only offer contact via Facebook Message, but will have email options soon. Check out and like our Facebook page while you’re at it!</p>

                <p class='text-center'>Phone: (204) 800-9925 </p>
                <p class='text-center'>Email: info@maprentals.ca </p>
            </div>
        </div>
    </div>
</section>