<section class="container mrgT15" id="aboutSection">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3>
                About
            </h3>
            <div class="entry-content">
                <p>Welcome! MapRentals.ca is an exciting new way to find literally anything real estate for rent. We don’t just list the usual apartments, houses, and rooms for rent. We even include commercial leases, vacation rentals, storage units, and even farm land for rent! And it’s all displayed on our 100% map-based platform which is the most effective way to search by location. Just remember, real estate is about location, location, location.</p>

                <p>Our&nbsp;co-founders are home grown on the Canadian prairies. Residing in Winnipeg and Edmonton and connecting right through Saskatchewan, they have a keen interest in solving problems through business. MapRentals.ca aims to be that solution for listing and searching for places for rent.</p>

                <p>In addition to our founders, our team harnesses the power and connectivity of the internet to bring together a talented team of developers and designers from all over the globe. This talent literally works round the clock designing, programming, testing, problem solving, and striving to connect hungry tenants with landlords in the simplest way possible.</p>

                <p>We’re still working hard in the construction phase of this platform so keep checking for updates. You can also drop your email in the form at the top to get emailed a notification as soon as we launch.</p>

                <p class='pull-right'>-The MapRentals team</p>
            </div>
        </div>
    </div>
</section>