<section class='mrgT5' *ngIf="property">
    <div class="container" *ngIf="!propertyId">
      <h4>Oops, this listing is already rented!</h4>
      <a class="btn btn-default" href="/">Click here to see more great rentals</a>
    </div>
    
    <div *ngIf="propertyId">
      <div class="container" >
          
          <div id="propertyDetail">
              <div class="row item-block">
                  <div class="col-xs-12 col-sm-12 col-md-7">
                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                            <div class="hidden-xs col-xs-6 col-sm-7 col-md-7 col-lg-8 pad0 clearfix">
                              <a href="/" class="pull-left">
                                <button class="backToList btn-pad-override btn btn-default">
                                  <i class="glyphicon glyphicon-menu-left"></i> Return to Map
                                </button>
                              </a> 
                            </div> 
                          </div>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0 mrgT5">
                          <span>{{property.Address}}</span>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <hr class="lightgray">
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0 mrgT5">
                        <h4 class="price text-blue pull-left"><b>${{property.MonthlyRent}}/mth</b></h4>
                        <h4 class="price text-blue pull-right">
                         <b *ngIf="property.PropertyType != 'Room'">{{property.PropertyType}}</b>
                         <b *ngIf="property.PropertyType == 'Room'">Room Rental</b>
                        </h4>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                        <h4 class="title-3 pull-left">
                          <b>agreementTermLength</b>
                        </h4>
                        <h4 class="title-3 pull-right">
                          <b *ngIf="property.IsImmediateAvailable == true">Available Now</b>
                          <b *ngIf="property.IsImmediateAvailable == false">availableDateText</b>
                        </h4>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <hr class="lightgray">
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <hr class="lightgray">
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <h4 class="text-blue"><b>{{property.Title}}</b></h4>
                          <p>
                              <span class="pad0" style="color: #9a9a9a">
                                  <b>dateCreatedText</b>
                              </span>
                          </p>
                          <p class="col-xs-12 col-sm-12 col-md-12 pad0 property-description">{{property.Description}}
                          </p>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0 mrgT10">
                          <span class="col-sm-12 text-center pad0">
                              <b>{{property.Views}}  Views</b>
                          </span>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <hr class="lightgray">
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <div class="prop-fac-div col-xs-12 col-sm-12 pad0 tooltip-top"> 
                              <span class="col-xs-3 col-sm-2 pad0 mrgT10">    <b>Rent Includes: </b>
                              </span>
                              <span class="col-xs-8 col-sm-10 pad0">
                                <img *ngIf="property.RentInclude.indexOf('Heat') >= 0" data-toggle="tooltip" data-placement="top" title="Heat" class="cursor-pointer img-responsive" src="assets/public/img/icons/flame.png">

                                <img *ngIf="property.RentInclude.indexOf('Electricity') >= 0" data-toggle="tooltip" data-placement="top" title="Electricity" class="cursor-pointer img-responsive" src="assets/public/img/icons/electric.png">

                                <img *ngIf="property.RentInclude.indexOf('Water') >= 0" data-toggle="tooltip" data-placement="top" title="Water" class="cursor-pointer img-responsive" src="assets/public/img/icons/water.png">

                                <img *ngIf="property.RentInclude.indexOf('Cable') >= 0" data-toggle="tooltip" data-placement="top" title="Cable" class="cursor-pointer img-responsive" src="assets/public/img/icons/tv.png">

                                <img *ngIf="property.RentInclude.indexOf('Internet') >= 0" data-toggle="tooltip" data-placement="top" title="Internet" class="cursor-pointer img-responsive" src="assets/public/img/icons/wifi.png">

                                <img *ngIf="property.RentInclude.indexOf('Parking') >= 0" data-toggle="tooltip" data-placement="top" title="Parking" class="cursor-pointer img-responsive" src="assets/public/img/icons/parking.png">

                              </span>
                          </div>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                          <hr class="lightgray">
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                        <span class="col-xs-3 col-sm-2 pad0">
                            <b>Amenities: </b>
                        </span>
                        <span class="col-sm-10 col-xs-9">
                            <span *ngFor="let ame of property.Amenities" class="badge">{{ame}}</span> 
                        </span>
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 pad0">
                        <hr class="lightgray">
                      </div>

                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1">
                  </div>
                  <div *ngIf="property.Email != null || property.Phone != null" class="col-xs-12 col-sm-12 col-md-4" id="contactSection">
                      <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                           Contact
                           
                        </legend>
                      </fieldset>
                      <form class="form-horizontal" novalidate class="form-horizontal">
                            
                            <div class="form-group" *ngIf="property.OwnerName != '' && property.OwnerName != null">
                               <div class="col-xs-6 col-sm-5 col-md-5"><label for="">Name: </label></div>
                               <div class="col-xs-6 col-sm-7 col-md-7">{{property.OwnerName}}</div>
                            </div>
                            <div class="form-group" >
                               <div class="col-xs-6 col-sm-5 col-md-5"><label for="">Company: </label></div>
                               <div class="col-xs-6 col-sm-7 col-md-7">currentPropertyCompany</div>
                            </div>
                            <div class="form-group" *ngIf="property.LandlordType != '' && property.LandlordType != null">
                               <div class="col-xs-6 col-sm-5 col-md-5"><label for="">Landlord Type: </label></div>
                               <div class="col-xs-6 col-sm-7 col-md-7">{{property.LandlordType}}</div>
                            </div>
                            <div class="form-group" *ngIf="property.Phone != '' && property.Phone != null && property.IsEmailOnly == false">
                               <div class="col-xs-6 col-sm-5 col-md-5"><label for="">Phone:</label></div>
                               <div class="col-xs-6 col-sm-7 col-md-7"> 
                                <span class='hidden-xs'>{{ property.Phone}}</span>
                                <a class='hidden-sm hidden-md hidden-lg btn btn-success btn-green' href="tel:{{property.Phone}}"><i class="glyphicon glyphicon-earphone"></i> {{ property.Phone}}</a>
                                <!-- <a class='hidden-sm hidden-md hidden-lg' href="tel:{{property.Phone}}">{{commonAppService.getFormattedPhoneNumber( property.Phone)}}  <i class=" text-success glyphicon glyphicon-earphone"></i></a> -->
                               </div>
                            </div>
                            <div class="form-group" *ngIf="property.Phone != '' && property.IsEmailOnly == false && property.IsPhoneOnly == true">
                               <div class="col-xs-6 col-sm-7 col-md-7">
                                  <b>PHONE CALLS ONLY!</b>
                                </div>
                            </div>
                            <div *ngIf="property.Email != '' && property.IsPhoneOnly == false">
                              <div class="form-group col-sm-12">
                                <input type="email" class="form-control" name="Name"  placeholder="Name">
                              </div>
                            
                              <div class="form-group col-sm-12">
                                <input type="email" class="form-control" name="From" placeholder="Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                <small class="text-danger">
                                  Email is required and format should be john@doe.com.
                                </small>
                              </div>

                              <div class="form-group col-sm-12">
                                <input type="text" class="form-control" name="Contact"  placeholder="Phone">
                              </div>

                              <div class="form-group col-sm-12">
                                <textarea class="form-control" id="message" name="Body"  placeholder="Message"></textarea>

                                <small  class="text-danger">
                                  Message is required.
                                </small>
                              </div>
                              
                              <div class="form-group col-sm-12 pad0 mrgB5">
                                 <div class="col-sm-12"><button type="submit" class="col-xs-12 col-sm-12 col-md-12 btn btn-primary pad15 fs20" id="btnSendMail"> Send </button></div>
                              </div>
                            </div>  
                         
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>