

<!--<div id="cover" *ngIf="loading==true"></div>-->
<div class="overlay" *ngIf="loading==true">
  <div class="overlay-loader" *ngIf="loading==true"></div>
</div>
<div class="myrentalsTopSec">
    <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-md-12 text-center">My Rentals</h4>
</div>
<section class="container mrgT5" id="myRentalsSection">
    <div id="myRentalList" class="col-sm-12 col-md-12 pad5-xs">
        <div class="col-lg-12 mrgB5 pad0">
            <div class="col-lg-push-4 col-lg-4 pad0 form-group has-feedback myrental-search">
                <input  type="text" class="text-align-center form-control blue-border" placeholder="Search" [(ngModel)]="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad0" *ngIf="_fail_msg != '' || _success_msg != ''">
            <p ng-bind="_success_msg" class="{{_success_msg != '' ? 'mrgT10': ''}} text-success clearfix col-sm-12 pad0">{{_success_msg}}</p>
            <p ng-bind="_fail_msg" class="{{_fail_msg != '' ? 'mrgT10': ''}} text-danger clearfix pad0">{{_fail_msg}}</p>
        </div>
        <div class="wrapper table-responsive hidden-xs">
            
            <table class="table table-bordered table-striped">
                <thead class="header">
                    <tr>
                        <th>Status</th>
                        <th>Picture</th>
                        <th>Address</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Views</th>
                        <th>Listed on</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prop of myrentals | customFilter:Search">
                        <td>
                            <div class='col-xs-10 col-sm-10 col-md-10 mrgT5' >
                                <label class="toggle col-sm-12 bigToggle" >
                                    <input *ngIf="prop.IsActive == true" #isActiveToggle type="checkbox" (click)="activeDeactiveProperty(prop)" checked="">
                                    <input *ngIf="prop.IsActive == false" #isActiveToggle type="checkbox" (click)="activeDeactiveProperty(prop)">
                                    
                                    <span class="handle" popover="Activation is FREE! Your listing is currently hidden from tenants." container="body" triggers="mouseenter:mouseleave" *ngIf="prop.IsActive == false">
                                        <span class="toggleValue">Inactive</span>
                                    </span>

                                    <span class="handle" popover="Your listing is showing to tenants" container="body" triggers="mouseenter:mouseleave"  *ngIf="prop.IsActive == true">
                                        <span  class="toggleValue Active">Active</span>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td class="cursor-pointer" (click)="propertyDetails($event, prop)">
                            <a href="javascript:void(0)" >
                                <img src="{{(prop.Pictures.length > 0)? prop.Pictures[0].ThumbnailUrl : 'https://maprental.azureedge.net/property-pictures/201705110444078659.png'}}" class="table-thumb thumbnail">
                                <!--<img src="{{prop.Picture}}" class="table-thumb img-responsive">-->
                            </a>
                        </td>
                        <td class="cursor-pointer" (click)="propertyDetails($event, prop)">
                            <a href="javascript:void(0)">{{commonAppService.formateAddress(prop.Address)}}</a>
                        </td>
                        <td class="cursor-pointer" (click)="propertyDetails($event, prop)">
                            <a href="javascript:void(0)">{{prop.Title}}</a>
                        </td>
                        <td class="cursor-pointer" (click)="propertyDetails($event, prop)">
                            <a href="javascript:void(0)">${{prop.MonthlyRent}}</a>
                        </td>
                        <td class="cursor-pointer" (click)="propertyDetails($event, prop)">
                            <a href="javascript:void(0)">{{prop.Views}}</a>
                        </td>
                        <td class="cursor-pointer col-sm-2" (click)="propertyDetails($event, prop)">
                            <!-- <a href="javascript:void(0)">{{commonAppService.getFormattedDateMDY(prop.DateCreated)}}</a> -->
                            <a href="javascript:void(0)">{{commonAppService.getFormattedDateMDY(prop.DateListed)}}</a>
                        </td>
                        <td class="col-sm-2" style="min-width: 140px;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-div pad5">
                                <a class='btn btn-success mrgT5 col-sm-3 col-md-3 col-lg-3' (click)="editProperty($event, prop)" href='javascript:void(0)' target='_self'><i class='glyphicon glyphicon-pencil'></i></a>

                                <a class='btn btn-danger mrgT5 col-sm-3 col-md-3 col-lg-3' (click)="deleteProperty($event, prop)" href='javascript:void(0)'><i class='glyphicon glyphicon-trash'></i></a>

                                <!--<a class='btn btn-default mrgT5 col-sm-6 col-md-6 col-lg-6' (click)="freeBumpedProperty(prop)" href='javascript:void(0)'><span>FREE Bump</span></a>-->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hidden-sm hidden-md hidden-lg">
            <div *ngFor="let prop of myrentals | customFilter:Search" class="col-xs-12 mobile-table pad0-xs">
                <div class="pad5-xs col-xs-5">
                    <div class='cursor-pointer col-xs-12 col-sm-10 col-md-10 pad0' >
                        <img src="{{(prop.Pictures.length > 0)? prop.Pictures[0].ThumbnailUrl : 'https://maprental.azureedge.net/property-pictures/201705110444078659.png'}}" class="table-thumb thumbnail">
                        <!--<img src="{{(prop.Pictures[0].ThumbnailUrl != null)? prop.Pictures[0].ThumbnailUrl : prop.Pictures[0].Url}}" class="table-thumb img-responsive">-->
                    </div>
                    <div class='col-xs-12 col-sm-10 col-md-10 mrgT5 pad0' >
                        <label class="toggle col-xs-12 col-sm-12 bigToggle" >
                            <input *ngIf="prop.IsActive == true" #isActiveToggle type="checkbox" (click)="activeDeactiveProperty(prop)" checked="">
                            <input *ngIf="prop.IsActive == false" #isActiveToggle type="checkbox" (click)="activeDeactiveProperty(prop)">
                            <span class="handle">
                                <span popover="Activation is FREE! Your listing is currently hidden from tenants." container="body" triggers="mouseenter:mouseleave"  *ngIf="prop.IsActive == false" class="toggleValue">Inactive</span>
                                <span popover="Your listing is showing to tenants" container="body" triggers="mouseenter:mouseleave"  *ngIf="prop.IsActive == true" class="toggleValue Active">Active</span>
                            </span>
                        </label>
                    </div>
                    
                </div>
                <div class="cursor-pointer pad5-xs col-xs-7 borderL" (click)="propertyDetails($event, prop)">
                    <b>
                        <span class="col-xs-12 pad0 text-overflow">{{prop.Title}}</span>
                    </b>
                    <a class="col-xs-12 pad0 lightgray-text text-overflow" href="javascript:void(0)">
                    {{commonAppService.formateAddress(prop.Address)}}
                    </a>
                    <span class="col-xs-12 pad0 lightgray-text">${{prop.MonthlyRent}}/mth</span>
                    <span class="col-xs-12 pad0 lightgray-text">Views: {{prop.Views}}</span>
                    
                    <!-- <a class="col-xs-12 pad0 mrgB10 lightgray-text" href="javascript:void(0)">Listed: {{commonAppService.getFormattedDateMDY(prop.DateCreated)}}</a> -->

                    <a class="col-xs-12 pad0 mrgB10 lightgray-text" href="javascript:void(0)">Listed: {{commonAppService.getFormattedDateMDY(prop.DateListed)}}</a>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-div pad0-xs pad5">
                        <span class='btn btn-success col-xs-3' (click)="editProperty($event, prop)"><i class='glyphicon glyphicon-pencil'></i></span>

                        <span class='btn btn-danger col-xs-3' (click)="deleteProperty($event, prop)"><i class='glyphicon glyphicon-trash'></i></span>
                        <!--<span class='btn btn-default col-xs-5 bump-btn' (click)="freeBumpedProperty($event, prop)">FREE Bump</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
       [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="col-sm-12 pad0">
                    <button type="button" (click)="hideModal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="">{{deleteModalTitle}}</h4>
                </div>
            </div>
            <div class="modal-body clearfix">
                <div class="app-modal-body">
                    <div>
                        <p> 
                            DON'T DELETE! <br><br>
                            {{activeDeactiveMsg}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="isDeactiveBtn == false" class="btn btn-default" (click)="hideModal()">Keep saved</button>
                <button *ngIf="isDeactiveBtn == true" type="button" class="btn btn-danger" (click)="activeDeActivateProperty()">De-activate</button>
                <a href="javascript:void()" id="removeProperty" class="text-danger" (click)="setIsDeletedTrueProperty()">I no longer manage this property, delete please.</a>
            </div>
        </div>
    </div>
</div>
